APP_DEBUG=true
APP_URL="http://localhost:8080"
APP_KEY=""

DB_CONNECTION="sqlite"
DB_DATABASE="storage/database.sqlite"

CACHE_DRIVER="file"
SESSION_DRIVER="file"
QUEUE_CONNECTION="sync"
MAIL_MAILER="log"

ROUTES_CACHE=false
ASSET_CACHE=false
LINK_POLICY="detect"
ENABLE_CSRF=true
DATABASE_TEMPLATES=false

# Nginx Large File Acceleration
NGINX_X_ACCEL=false
NGINX_X_ACCEL_PREFIX=/protected_distributives/
