# Конфиденциальные данные и окружение
/.env
/.env.*
!.env.example

# База данных SQLite
/storage/*.sqlite
/storage/database.sqlite

# Тяжелые дистрибутивы и кэш
*.iso
*.lir
*.dwg
/storage/app/protected_distributives/*
!/storage/app/protected_distributives/.gitkeep
/storage/app/uploads/*
/storage/app/media/*
/storage/temp/*
/storage/cms/cache/*
/storage/cms/combiner/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Зависимости
/vendor/
/node_modules/

# Файлы IDE и ОС
.DS_Store
Thumbs.db
.idea/
.vscode/
